<h1> Welcome to the New Blog Page </h1>

<%= form_for @blog do |f| %>
    <pre>
    Subject: <%= f.text_field :title %>
    Body: <%= f.text_area :body %>

    <%= f.submit %>
    </pre>  
  <% end %>